:root {
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%); 

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
}

body {
    color: var(--White);
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    background-color: var(--Very-dark-blue-main-BG);
    line-height: 1.5;
    box-sizing: border-box;
}

img {

    max-width: 100%;
}

hr {
    border-bottom: none;
    margin-block: .5em;
}

h1 {
    font-size: 20px;
    color: var(--White);
}

span {
    color: var(--White);
}

.main__container__h1:hover,
span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.main__container__p,
.flex2__item2 {
    color: var(--Soft-blue);
}

.main__container {
    background-color: var(--Very-dark-blue-card);
    border-radius: 10px;
    padding: 2em;
    max-width: 18.75em;
    width: 100%; 
    margin-block: 5%;
    margin-inline: auto;
}

.main__container__images {
    position: relative;
}

.main__container__images:hover 
.main__img__overlay {
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.9s ease-in-out;
    cursor: pointer;
}

.main__container__img {
   border-radius: 10px;
}

.main__img__overlay {
    border-radius: 1opx;
    background-color: var(--Cyan);
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2%);
}

.icon__overlay {
    position: absolute;
    top: 35%;
    left: 40%;
}




.main__container__flex,
.main__container__flex2 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.flex__item1 {
    color: var(--Cyan);
}

.flex2__item1 {
    width: 15%;
    height: 20%;
    max-width: 500%; 
    margin-top: 5%;

}
@media(max-width: 30em) {
    .main__container {
        width: 75%;
        margin-inline: auto;
    
     }
}